body {
    background-color: silver;
}

h1 {
    color: salmon;
    border: 1px black solid;
    padding: 10px;
    margin: 10px;
}

p {
    color: aquamarine;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}